body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: right;
    margin-right: 50px;
    

  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    margin-right: 150px;
    margin: 5px;
    list-style: none;
  }
  li a:hover{
    transform: scale(1.2);
    color: white;

  }
  
  
  .rightlink{
    float: right;
    margin-right: 40px;
    background-color: white;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    margin-top: 19px;
   
    
    color: black;
  }
  .righta{
    color: black;
    margin-top: -17px;
   
    
  }
  .rightlink:hover{
    transform: scale(1.2);
  }
  .righta:hover{
    color: black;
  }